<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Last Name</th>
        <th>Actions</th>
    </tr>
    <tr th:each="user, state : ${allUsers}"
        class="row" th:classappend="${state.odd} ? 'odd-row' : 'even-row'">
        <td th:utext="${user.id}">Id</td>
        <td th:utext="${user.name}">Name</td>
        <td th:utext="${user.lastName}">Last Name</td>
        <td><a th:href="@{/user/update/{id}(id=${user.id})}">Edit</a>
            <a th:href="@{/user/delete/{id}(id=${user.id})}">Delete</a>
        </td>
    </tr>
</table>
<h2><a href="/user/addPage">Add new user</a></h2>
</body>
</html>